/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

.home a {
  color: #FF5555;
  font-weight: bold;
}

a {
  color: black;
  font-weight: bold;
}

.btn {
  background-color: black; /* black */
  border: none;
  color: white;
  width: 180px;
  height: 60px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

.topic {
  /* make the best financial decisions */
font-family: 'Clash Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 64px;
text-transform: capitalize;
color: #000000;
}

.intro {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  text-transform: capitalize;
  color: #000000;
  opacity: 0.5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.start {
  display: flex;
  justify-content: space-between;
}

.start1 {
  background: none;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

.fa {
margin-left: 10px;
}

.iphone-1 {
  /* iPhone-13-Pro-Front */
position: absolute;
left: 53.54%;
right: 29.15%;
top: 3.07%;
bottom: 88.37%;

filter: drop-shadow(48px 48px 100px rgba(0, 0, 0, 0.2));
transform: rotate(-15deg);

}

.iphone-2 {
/* iPhone-13-Pro-Front */
position: absolute;
left: 62.01%;
right: 20.65%;
top: 4.38%;
bottom: 87.05%;

filter: drop-shadow(48px 48px 100px rgba(0, 0, 0, 0.2));
transform: rotate(-15deg);

}

.iphone-3 {
  /* iPhone-13-Pro-Front */
position: absolute;
left: 43.67%;
right: -0.06%;
top: 21.32%;
bottom: 0.49%;

filter: drop-shadow(48px 48px 100px rgba(0, 0, 0, 0.2));
transform: rotate(-15deg);

}

.frame1 {
  /* Group 35887 */
position: absolute;
left: 823;
top: -100px;

}
